.fontUse{
    font-family: 'Spline Sans', sans-serif;
    font-size: 60px;
}
.top{
    margin: 0;

}
.head{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: -550px;
}
.myName{
    color: orange;
}
s
.halfWidth{
    width: 50%;
}
div img{
    height: 30%;
}
.text{
    padding-left: 60px;
}
.para{
    font-size: 22px;
}
.pic{
    padding-left: 60px;
    padding-top: 20px;
}
.img{
    text-decoration: none;
    background-image: linear-gradient(orange, yellow);
    padding: 9px 27px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}
/* 2nd step */
.middle{
    display: flex;
}
.dream{
    font-size: 40px;
    text-align: center;
}
.details{
    width: 50%;
}
.pic2{
 margin-left: 30px;
 
}
.middle{
    background-image: url(images/dream-bg.png);
    background-repeat: 
    no-repeat;
    background-position: right;
    background-size: 10%;

}
.middle2{
    display: flex;
}
.experience{
    font-size: 45px;
}
.baby{
    font-size: 40px;
    
}
.section2{
    margin-left: 30px;
    margin-right: 30px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    

}
.smallBaby{
  color: orange; 
  font-size: 25px; 
}
.first{
    margin-right: 30px;
    text-align: justify;
    
}
.second{
    margin-right: 30px;
    text-align: justify;
}
.halfWidth2{
    width: 50%;
    box-shadow: 10px 10px 30px gray;
}
#first{
    border-left: 10px solid;
    border-image: linear-gradient(red, blue);
    border-image-slice: 1;
}

#second{
    border-left: 10px solid;
    
    border-image: linear-gradient(blue, rgb(18, 238, 84));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
    
    



